<html>
<head>
  <title> 🚽 Facility Scoring </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/skeleton.css">
</head>
<body>
  <div class="container">
    <div class="row">
    <div class="one-half column" style="margin-top: 5%">
    <h1>🚽 Facility Scoring</h1>
    <p> <a href="{{url_for('index')}}">Home</a> | <a href="{{url_for('bestOverall')}}">Best Overall</a> | <a href="{{url_for('mostAvailable')}}">Most Available</a> | <a href="{{url_for('mostClean')}}">Cleanest</a> | <a href="{{url_for('bestLighting')}}">Best Lighting</a> | <a href="{{url_for('mostSpace')}}">Most Spacious</a> </p>
    <h5> A system for scoring site facilities.</h5>
    {% if entries %} <p>There are entries for {{entries}} sites, wow!<br> The latest entry is for {{latest.site}} with a score of {{latest.score}}!</p>{% endif %}
    </div>
  <!--    <div class="one-half column" style="margin-top: 5%">
    <input type="text" placeholder="Search for a site.."><input type="submit" value="search" autocomplete="off"/>
    </div>-->
    </div>
    <div class="row">
      <div class="one-half column" style="margin-top: 0%">
      {% if entries %}
        <h3> Submit a site:</h3>
        <form method="post" action="/new-site">
          <label> site name: </label>
          <input id="site" name="site" type="text" autocomplete="off" />

          <label> overall satisfaction score: </label>
          <input id="score" name="score" type="range" min="0" max="10" value="5" oninput="scoreOutput.value = score.value" />
          <output name="scoreOutput" id="scoreOutput"> 5 </output>

          <label> availability score: </label>
          <input id="availabilityScore" name="availabilityScore" type="range" min="0" max="10" value="5" oninput="availabilityScoreOutput.value = availabilityScore.value" />
          <output name="availabilityScoreOutput" id="availabilityScoreOutput"> 5 </output>

          <label> cleanliness score: </label>
          <input id="cleanlinessScore" name="cleanlinessScore" type="range" min="0" max="10" value="5" oninput="cleanlinessScoreOutput.value = cleanlinessScore.value" />
          <output name="cleanlinessScoreOutput" id="cleanlinessScoreOutput"> 5 </output>

          <label> lighting score: </label>
          <input id="lightingScore" name="lightingScore" type="range" min="0" max="10" value="5" oninput="lightingScoreOutput.value = lightingScore.value" />
          <output name="lightingScoreOutput" id="lightingScoreOutput"> 5 </output>

        <label> spacious score: </label>
        <input id="spaciousScore" name="spaciousScore" type="range" min="0" max="10" value="5" oninput="spaciousScoreOutput.value = spaciousScore.value" />
        <output name="spaciousScoreOutput" id="spaciousScoreOutput"> 5 </output>
      <br>
          <input type="submit"/>
        </form>
        {% endif %}
    </div>

    <div class="one-half column" style="margin-top: 0%">
      {% if entries %}<h3>  Latest entries are:</h3>{% endif %}
      {% if overall %}<h3> Best overall locations are:</h3>{% endif %}
      {% if cleanest %}<h3> Cleanest locations are:</h3>{% endif %}
      {% if available %}<h3> Most available locations are:</h3>{% endif %}
      {% if lighting %}<h3> Best lighting locations are:</h3>{% endif %}
      {% if space %}<h3> Most spacious locations are:</h3>{% endif %}
      <ol>
        {% if entries %}
          {% for site in refSite|sort(attribute='id', reverse = True) %}
            <li> <a href="/site/{{site.site}}">{{site.site}}</a> has score of {{site.cleanlinessScore}} </li>
          {% endfor %}
        {% endif %}
        {% if overall %}
          {% for site in refSite|sort(attribute='score', reverse = True) %}
            <li> <a href="/site/{{site.site}}">{{site.site}}</a> has score of {{site.score}} </li>
          {% endfor %}
        {% endif %}
        {% if cleanest %}
          {% for site in refSite|sort(attribute='cleanlinessScore', reverse = True) %}
            <li> <a href="/site/{{site.site}}">{{site.site}}</a> has score of {{site.cleanlinessScore}} </li>
          {% endfor %}
        {% endif %}
        {% if available %}
          {% for site in refSite|sort(attribute='availabilityScore', reverse = True) %}
            <li> <a href="/site/{{site.site}}">{{site.site}}</a> has score of {{site.availabilityScore}} </li>
          {% endfor %}
        {% endif %}
        {% if lighting %}
          {% for site in refSite|sort(attribute='lightingScore', reverse = True) %}
            <li> <a href="/site/{{site.site}}">{{site.site}}</a> has score of {{site.lightingScore}} </li>
          {% endfor %}
        {% endif %}
        {% if space %}
          {% for site in refSite|sort(attribute='spaciousScore', reverse = True) %}
            <li> <a href="/site/{{site.site}}">{{site.site}}</a> has score of {{site.spaciousScore}} </li>
          {% endfor %}
        {% endif %}
    </ol>
    </div>
    </div>
  </div>

</body>

</html>
