<html>
<head>
  <title> site 🚽 rankings </title>
</head>
<body>
  <h1>🚽</h1>
  <h3> there are entries for {{entries}} sites, wow!</h3>
  <h3> latest entry is for {{latest.site}} with a score of {{latest.score}}, cheers for that!</h3>
  <form method="post" action="/new-site">
    <label> site name: </label>
    <input id="site" name="site" type="text" />
  <br>
    <label> overall satisfaction score: </label>
    <input id="score" name="score" type="range" min="0" max="10" value="5" oninput="scoreOutput.value = score.value" />
    <output name="scoreOutput" id="scoreOutput"> 5 </output>
  <br>
    <label> availability score: </label>
    <input id="availabilityScore" name="availabilityScore" type="range" min="0" max="10" value="5" oninput="availabilityScoreOutput.value = availabilityScore.value" />
    <output name="availabilityScoreOutput" id="availabilityScoreOutput"> 5 </output>
  <br>
    <label> cleanliness score: </label>
    <input id="cleanlinessScore" name="cleanlinessScore" type="range" min="0" max="10" value="5" oninput="cleanlinessScoreOutput.value = cleanlinessScore.value" />
    <output name="cleanlinessScoreOutput" id="cleanlinessScoreOutput"> 5 </output>
  <br>
    <label> lighting score: </label>
    <input id="lightingScore" name="lightingScore" type="range" min="0" max="10" value="5" oninput="lightingScoreOutput.value = lightingScore.value" />
    <output name="lightingScoreOutput" id="lightingScoreOutput"> 5 </output>
  <br>
  <label> scent score: </label>
  <input id="scentScore" name="scentScore" type="range" min="0" max="10" value="5" oninput="scentScoreOutput.value = scentScore.value" />
  <output name="scentScoreOutput" id="scentScoreOutput"> 5 </output>
<br>
    <input type="submit" />
  </form>

  {% for site in refSite %}
    <li> {{site.site}} has score of {{site.score}} </li>
  {% endfor %}
</body>

</html>
