<html>
<head>
  <title> 🚽 at {{oneSite.site}} </title>
</head>
<body>
  <h1> {{oneSite.site}} </h1>

  <h2> Score card for {{oneSite.site}} </h2>
  <p> {{oneSite.site}} has an overall score of {{oneSite.score}}</p>
  <p> {{oneSite.site}} has an availability score of {{oneSite.availabilityScore}}</p>
  <p> {{oneSite.site}} has a cleanliness score of {{oneSite.cleanlinessScore}}</p>
  <p> {{oneSite.site}} has a lighting score of {{oneSite.lightingScore}}</p>
  <p> {{oneSite.site}} has a spacious score of {{oneSite.spaciousScore}}</p>

</body>

</html>
